@import 'https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap';
* {
  box-sizing: border-box;
  color: #333;
  font-family: "Zen Maru Gothic", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("/image/background/bg_pattern.png");
  background-repeat: repeat;
}

main {
  min-height: 100vh;
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  text-align: center;
}

h2 {
  font-size: 48px;
}

.brand-logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("/image/logo/brand_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table tr {
  height: 64px;
  border-bottom: 1px solid #333;
}
table tr:last-child {
  border: 0;
}
table th {
  text-align: left;
  font-size: 24px;
}

.content {
  padding: 80px 0;
}