@use 'var';

@import 'https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap';

* {
    box-sizing: border-box;

    color: var.$color-font-text;

    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    margin: 0;

    background-image: url('/image/background/bg_pattern.png');
    background-repeat: repeat;
}

main {
    min-height: 100vh;
    width: var.$responsive-breakpoint_pc-min;
    margin: 0 auto;
}

h1 {
    margin: 40px 0;
    font-size: 64px;
    text-align: center;
}

h2 {
    margin: 8px 0;
    font-size: 48px;
}

h3 {
    font-size: 24px;
    padding-left: 4px;
    border-left: 8px solid var.$color-font-text;
}

.brand-logo {
    display: inline-block;
    width: 48px;
    height: 48px;

    background-image: url('/image/logo/brand_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel {
    height: 384px;
    width: 100%;
    text-align: center;

    padding: 32px;

    &__child {
        display: flex;
        justify-content: center;

        &-text {
            position: absolute;

            margin-top: -8px;
            padding: 8px;

            font-size: 32px;
            line-height: 32px;

            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

            background-color: rgb(243, 244, 246, 0.5);
            border-radius: 8px;

            z-index: 10;
        }

        &-img {
            position: absolute;

            height: 320px;

            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

            z-index: 5;
        }
    }
}

.table-scroll-lapper {
    width: 100%;
    overflow: scroll;
}

.about-table {
    border-collapse: collapse;
    white-space: nowrap;

    & tr {
        height: 64px;
        border-bottom: 1px solid var.$color-font-text;

        &:last-child {
            border: 0;
        }
    }

    & td,
    & th {
        padding: 4px;
    }

    & th {
        text-align: left;
        font-size: 24px;
    }

    &__skill-icon {
        width: 64px;

        & img {
            display: block;
        }
    }
}

.content {
    margin: 20px 0;
    padding: 40px 24px;

    background-color: rgba(lightgray, 0.6);

    &:nth-child(even) {
        background-color: rgba(white, 0.6);
    }
}

.external-link {
    color: var.$color-main;
}

article {
    padding: 16px;

    & section {
        padding: 8px;
    }
}

@media screen and (max-width: var.$responsive-breakpoint_pc-min) {
    * {
        max-width: 100%;
    }

    main {
        padding: 8px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .carousel {
        height: 256px;
        padding: 16px;

        &__child {

            &-text {

                font-size: 24px;
            }

            &-img {
                height: 224px;
            }
        }
    }

    .content {
        padding: 16px;
    }

    .about-table {
        & th {
            font-size: 12px;
        }

        &__skill-icon {
            width: 32px;
        }
    }
}