@use 'var';

@use 'sass:math';

* {
    box-sizing: border-box;

    color: var.$color-font-text;

    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    margin: 0;

    background-image: url('/image/background/bg_pattern.webp');
    background-repeat: repeat;
}

main {
    min-height: 100vh;
    width: var.$responsive-breakpoint_pc-min;
    margin: 0 auto;
}

a {
	text-decoration: underline;
}

img {
    max-width: 100%;
}

h1 {
    margin: 40px 0;
    font-size: 48px;
    text-align: center;
}

h2 {
    margin: 8px 0;
    font-size: 32px;
}

h3 {
    font-size: 24px;
    padding-left: 4px;
    border-left: 8px solid var.$color-font-text;
}

.brand-logo {
    display: inline-block;
    width: 48px;
    height: 48px;

    background-image: url('/image/logo/brand_logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 512px;

    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: 48px;
    }
}

.table-scroll-lapper {
    width: 100%;
    overflow: scroll;
}

.about-table {
    border-collapse: collapse;
    white-space: nowrap;

    & tr {
        height: 64px;
        border-bottom: 1px solid var.$color-font-text;

        &:last-child {
            border: 0;
        }
    }

    & th {
        text-align: left;
        font-size: 24px;
    }

    & td,
    & th {
        padding: 4px;
    }
	
    &__skill-icon {

        & img {
            display: block;
            width: 64px;
        }
    }

	&__skill-experience {
		text-align: center;
	}
}

.content {
    margin: 20px 0;
    padding: 40px 24px;

    background-color: rgba(white, 0.6);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 1.5em;
}

.article-cards {
    margin: 0 auto;
    padding: 16px;

    width: var.$responsive-breakpoint_pc-min;

    &__item {
        height: 240px;

		background-color: white;

        border-radius: 8px;

        overflow: hidden;
        box-shadow: 0.5rem 0.5rem 1rem 0px rgba(0, 0, 0, 0.4);

        transition: transform 0.25s;

        &:hover {
            transform: scale(1.05);
        }

        & a {
            text-decoration: none;
        }

        &__title {
            padding: 0.5em;
            border-left: 8px solid var.$color-main;
        }

        &__description {
            padding: 1rem;
            height: 220px;

            & p {
                margin: 0;
            }
        }

        &__attachment {
            margin: 0;
            height: 100%;

            text-align: center;

            &__image {
                // 下に隙間ができるのを防止
                vertical-align: middle;

                max-width: 100%;
                height: 200px;
            }
        }
    }
}

.external-link {
    display: inline-block;
    margin: 4px;

    color: var.$color-main;

    &__icon {
        display: inline-block;
        width: 24px;
        height: 24px;
    }
}

article {
    padding: 16px;

    & section {
        padding: 8px;
    }
}

@media screen and (max-width: var.$responsive-breakpoint_pc-min) {
    * {
        max-width: 100%;
    }

    main {
        padding: 8px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .brand-logo {
        width: 32px;
        height: 32px;
    }

    .carousel {
        height: 256px;
        padding: 16px;

        &__child {

            &-text {

                font-size: 24px;
            }

            &-img {
                height: 224px;
            }
        }
    }

	.grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em 1em;
    }

	.article-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .content {
        padding: 16px;
    }

    .about-table {
        & th {
            font-size: 20px;
        }

        &__skill-icon {
            width: 32px;
        }
    }
}